.Shop {

  &__header {
    .ant-btn {
      margin-bottom: 2rem !important;
    }
  }

  &__content {
    .ant-table {
      table {

        tbody {
          .active {
            &>td {
              background-color: green;
            }
          }

          .disabled {
            &>td {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}